src/main/mule/cicdmaven20.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b697c1e0-040e-4cb2-9144-eab7f6d76532" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdmaven20Flow" doc:id="d62b273c-4e38-4d3f-8dfb-1136abedf432" >
		<http:listener doc:name="Listener" doc:id="3470000f-ea8f-4c95-88a4-f59d730c241e" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#[{&#10;	"name":"sushmita"&#10;}]' doc:name="Set Payload" doc:id="e5006e37-3b5f-429d-8fad-3d9bfb087070" />
		<logger level="INFO" doc:name="Logger" doc:id="19f1f921-435e-4c6e-88f6-2af8fc401158" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="82064335-a6a5-4a24-8a11-f9a5275a43d1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
